body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.article {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}
.nav {
    flex-basis: 100%;
    min-height: 50px;
    /* flex: 1 50px; */
    background: #5995da;
}

.header {
    background: #b2d6ff;
}

main {
    /* flex: 6 300px; */
    padding: 1rem;
    background: #eaedf0;
}

#signup {
    background: #d6e9fe;
}

#feature-1 {
    background: #f5cf8e;
}

#feature-2 {
    background: #f09a9d;
}

#feature-3 {
    background: #c8c6fa;
}

.header, .feature {
    min-height: 200px;
    flex-basis: 100%;
    /* flex: 1 1 100%; */
    /* flex: 50vw; */
}

.header, .feature, .nav {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 500px) and (max-width: 899px) {
    .article {
      flex-flow: row wrap;
    }
    .nav {
        flex-basis: 100%;
        min-height: 50px;
    }
    .feature {
        flex: 1 1 50%;
        /* height: 200px;  */
    }
}

@media screen and (min-width: 900px) {
    .article {
        flex-flow: row wrap;
    }
    .nav {
        flex-basis: 100%;
        min-height: 50px;
    }
    .feature {
        flex: 1 1 33%;
        /* flex: calc(100vw / 3); */
        min-height: calc(100vw / 3 * 1.25);
    }
    #signup {
        order: 1;
        min-height: auto;
        height: 150px; 
    }
    .header {
        flex: 100vw;
        height: 25vw;
    }
    main {
        order: 2;
    }
}
